@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

* {
    box-sizing: border-box;
}

body {
    font-weight: 200;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #080506;
    overflow-y: scroll;
    font-family: raleway, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* backgground */
.glow {
    position: absolute;
    /* border-radius: 0%; */
    filter: blur(190px);
    /* controls spreading of the glow */
    /* opacity: 1; */
    /* pointer-events: none; */
}

.top-left {
    background: radial-gradient(ellipse, rgba(255, 242, 242, 0.85) 0%, rgb(224, 0, 0) 0%, transparent 120%);
    position: absolute;
    width: 50%;
    height: 40%;
    top: -100px;
    left: -250px;
}

.bottom-left {
    background: radial-gradient(ellipse, rgba(255, 242, 242, 0.85) 0%, rgb(104, 24, 24) 0%, transparent 120%);
    position: absolute;
    width: 40%;
    height: 90%;
    bottom: -100px;
    left: -200px;
}

.bottom-right {
    background: radial-gradient(ellipse, rgba(255, 242, 242, 0.85) 0%, rgb(245, 99, 41) 0%, transparent 120%);
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: -100px;
    right: -200px;
}

.top-right {
    background: radial-gradient(ellipse, rgba(255, 242, 242, 0.85) 0%, rgb(245, 99, 41) 0%, transparent 120%);
    position: absolute;
    width: 40%;
    height: 40%;
    top: -100px;
    right: -200px;
}

/* navbar */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 5%;
    background-color: #08050656;
    margin: auto;
}

.navbardiv {
    display: flex;
    justify-content: space-around;
    gap: 30%;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    gap: 40px;
    font-size: 1.2em;
    justify-content: center;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu li a.active {
    color: rgb(255, 1, 1);
    font-weight: bold;
    border-bottom: 2px solid rgb(224, 0, 0);
    transition: 0.3s;
}

/* Main Body */
.mainbody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: #ffffff;
}

.formbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 6vw;
    gap: 10px;
    width: 40%;
    height: 70%;
}

.future {
    font-size: 6.2em;
    font-weight: 300;
    filter: brightness(1.5);
}

.description {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 60px;
    filter: brightness(1.5);
}

.email-prompt {
    font-size: 0.9em;
    font-weight: 100;
    margin-bottom: 5px;
    filter: brightness(1.5);
}

input {
    width: 20vw;
    height: 6vh;
    border-radius: 10px;
    background-color: rgba(224, 0, 0, 0.247);
    color: rgb(255, 255, 255);
    filter: brightness(1.5);
    border: none;
    padding-left: 10px;
    font-size: 0.9em;
    padding: 0px 10px;
}

button {
    width: 12vw;
    height: 6vh;
    background-color: #014f5f;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 1.1em;
    font-family: raleway;
    cursor: pointer;
}

.submitbutton {
    margin-left: 2vw;
}

.pic {
    width: auto;
    height: 100vh;
    /* overflow: hidden; */
}

.astronaut {
    width: 100%;
    height: 115%;
    object-fit: contain;
    /* object-position: center; */
    opacity: 0.7;
}

/* About Page */
.about {
    position: relative;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.aboutimg {
    width: 70%;
    overflow: hidden;
    border-radius: 30px;
}

.aboutimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    opacity: 0.7;

}

.aboutbox {
    position: absolute;
    top: 10%;
    left: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    color: #fff;
    padding: 14px;
    box-sizing: border-box;
}

.aboutus {
    font-size: 3em;
    font-weight: 700;
}

.mission {
    margin-top: 15px;
    font-size: 1.6em;
    font-weight: 400;
}

.abtpara {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 200;
    text-align: justify;
}

/* Buy now */
.buynow1 {
    position: relative;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 70%;
}

.helmetpic {
    border-radius: 33px;
    width: auto;
    height: 70vh;
    overflow: hidden;
}

.helmet {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    /* object-position: 10% 50%; */
    filter: brightness(1);
}

.buydetails {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ACS {
    font-size: 1.6em;
    font-weight: 400;
    color: #fff;
}

.buypara {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 1.1em;
    font-weight: 100;
    color: #fff;
}

/* subscriptions */
.bottom-leftt {
    background: radial-gradient(ellipse, rgba(255, 242, 242, 0.85) 0%, rgb(167, 29, 29) 0%, transparent 220%);
    position: absolute;
    width: 40vw;
    height: 40vh;
    bottom: 0px;
    left: -200px;
}

.subscription {
    position: relative;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: Vollkorn;
    color: #fff;
}

.subscontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80vh;
    /* margin: 0 auto; */
}

.box {
    width: 25%;
    height: 70%;
    background-color: #000000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -3px 4px 15px rgba(170, 34, 34, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 30px;
}

.features {
    margin: auto;
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: 20px;
    list-style: none;
    padding: 0;

}
.features li {
    margin-bottom: 10px;
    text-align: center;

}

.price {
    font-size: 2em;
    font-weight: 100;
    margin-top: 40px;
}

footer {
    position: relative;
    z-index: 1;
    background-color: #2000005e;
    color: white;
    padding: 10px 0px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 650px;
}

.footlogo {
    width: 12vw;
    filter: brightness(1.5);
}

.icons {
    display: flex;
    gap: 50px;
    cursor: pointer;
}

.icons * {
    width: 25px;
    filter: brightness(1.5);
}

#backToTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 45px;
    height: 45px;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background: #014f5f;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

@media screen and (max-width: 450px) {
    .bottom-right {
        right: 0px;
    }

    .top-right {
        right: 0px;
    }

    .navbardiv {
        position: sticky;
        top: 0;
        z-index: 1000;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .logo {
        margin-left: 10%;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
        font-size: 1em;
    }


    .mainbody {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px 10px;
    }

    .formbody {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .future {
        font-size: 3em;
    }

    .description {
        font-size: 1em;
        margin-bottom: 20px;
    }

    input {
        width: 60%;
        height: 35px;
        font-size: 0.8em;
    }

    button {
        width: 30%;
        height: 35px;
        font-size: 0.8em;
        margin: 0;
    }

    .pic {
        height: auto;
        margin-top: 20px;
    }

    .astronaut {
        width: 100%;
        height: auto;
    }

    .aboutimg {
        width: 100%;
    }

    .aboutus {
        font-size: 1em;
    }

    .mission {
        font-size: 0.8em;
    }

    .abtpara {
        font-size: 0.6em;
    }


    .about {
        width: 100%;
        flex-direction: column;
        height: auto;
        margin-top: 10vh;
        padding: 10px;
    }

    .aboutbox {
        position: absolute;
        top: 42%;
        left: 0%;
        transform: translate(-0%, -50%);
        box-sizing: border-box;
        padding: 70px;
        text-align: center;
        max-width: 100%;
    }

    .buynow1 {
        height: auto;
        margin-top: 10vh;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .helmetpic {
        width: 40%;
        height: auto;
    }

    .helmet {
        height: auto;
    }

    .buydetails {
        width: 70%;
        text-align: start;
        padding: 10px;
    }

    .ACS {
        font-size: 0.8em;
    }

    .buypara {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 0.6em;
    }

    .buybutton {
        width: 40%;
        height: 20px;
        font-size: 0.6em;
        margin: 0;
    }

    .subscription {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .subscontainer {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .box {
        width: 60%;
        height: auto;
        padding: 15px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .footlogo {
        width: 50%;
    }

    .icons {
        justify-content: center;
        gap: 20px;
    }

    #backToTop {
        right: 3%;
        bottom: 3%;
    }
}